body {
	background-color:#55efc4;
}

table {

 border-collapse: collapse;
}

td{
	padding:5px;font-style:oblique;font-size:28px;width:140px;
}



h1{
	font-size:36px;margin:80px 20px;
}



h2{
	font-size:36px;margin:80px 20px;
}





h3{
	color:red;font-size:36px;margin:80px 20px;
}
.green{
	background-color:yellow;
}

.black{
	background-color:black;
}

	

.cola1 {
	padding:1px;font-style:arial;font-size:28px;display:flex;flex-direction:column;justify-content:center;alig-items:flex-start;
	text-align:center;width:165px;height:50px;margin:20px 20px;
	position:relative;background-color:pink;border:1px solid #000;
	
}
.cola2 {
	padding:3px;font-style:arial;font-size:28px;display:flex;flex-direction:column;justify-content:center;alig-items:flex-start;
	text-align:center;width:165px;height:46px;margin:5px 0px;
	position:absolute;top:444px;bottom:0;right:0;left:198px;background-color:pink;border:1px solid #000;
	
}
.cola3 {
	padding:0px;font-style:arial;font-size:28px;display:flex;flex-direction:column;justify-content:center;alig-items:flex-start;
	text-align:center;width:165px;height:52px;margin:5px 0px;
	position:absolute;top:444px;bottom:0;right:0;left:372px;background-color:pink;border:1px solid #000;
	
}
.cola4 {
	padding:0px;font-style:arial;font-size:28px;display:flex;flex-direction:column;justify-content:center;alig-items:flex-start;
	text-align:center;width:165px;height:52px;margin:5px 0px;
	position:absolute;top:444px;bottom:0;right:0;left:540px;background-color:pink;border:1px solid #000;
	
}
.cola5 {
	padding:0px;font-style:arial;font-size:28px;display:flex;flex-direction:column;justify-content:center;alig-items:flex-start;
	text-align:center;width:165px;height:52px;margin:5px 0px;
	position:absolute;top:444px;bottom:0;right:0;left:708px;background-color:pink;border:1px solid #000;
	
}
.cola6 {
	padding:0px;font-style:arial;font-size:28px;display:flex;flex-direction:column;justify-content:center;alig-items:flex-start;
	text-align:center;width:167px;height:52px;margin:5px 0px;
	position:absolute;top:530px;bottom:0;right:0;left:28px;background-color:white;border:1px solid #000;
	
}
.cola7 {
	padding:0px;font-style:arial;font-size:28px;display:flex;flex-direction:column;justify-content:center;alig-items:flex-start;
	text-align:center;width:171px;height:52px;margin:5px 0px;
	position:absolute;top:530px;bottom:0;right:0;left:198px;background-color:white;border:1px solid #000;
	
}
.cola8 {
	padding:0px;font-style:arial;font-size:28px;display:flex;flex-direction:column;justify-content:center;alig-items:flex-start;
	text-align:center;width:165px;height:52px;margin:5px 0px;
	position:absolute;top:530px;bottom:0;right:0;left:372px;background-color:white;border:1px solid #000;
	
}
.cola9 {
	padding:0px;font-style:arial;font-size:28px;display:flex;flex-direction:column;justify-content:center;alig-items:flex-start;
	text-align:center;width:165px;height:52px;margin:5px 0px;
	position:absolute;top:530px;bottom:0;right:0;left:540px;background-color:white;border:1px solid #000;
	
}
.cola10 {
	padding:0px;font-style:arial;font-size:28px;display:flex;flex-direction:column;justify-content:center;alig-items:flex-start;
	text-align:center;width:165px;height:52px;margin:5px 0px;
	position:absolute;top:530px;bottom:0;right:0;left:708px;background-color:white;border:1px solid #000;
	
}
.cola11 {
	padding:0px;font-style:oblique;font-size:28px;display:flex;flex-direction:column;justify-content:center;alig-items:flex-start;
	text-align:center;width:167px;height:52px;margin:5px 0px;
	position:absolute;top:585px;bottom:0;right:0;left:28px;background-color:white;border:1px solid #000;
	
}
.cola12 {
	padding:0px;font-style:oblique;font-size:28px;display:flex;flex-direction:column;justify-content:center;alig-items:flex-start;
	text-align:center;width:171px;height:52px;margin:5px 0px;
	position:absolute;top:585px;bottom:0;right:0;left:198px;background-color:white;border:1px solid #000;
	
}
.cola13 {
	padding:0px;font-style:arial;font-size:28px;display:flex;flex-direction:column;justify-content:center;alig-items:flex-start;
	text-align:center;width:165px;height:52px;margin:5px 0px;
	position:absolute;top:585px;bottom:0;right:0;left:372px;background-color:white;border:1px solid #000;
	
}
.cola14 {
	padding:0px;font-style:arial;font-size:28px;display:flex;flex-direction:column;justify-content:center;alig-items:flex-start;
	text-align:center;width:165px;height:52px;margin:5px 0px;
	position:absolute;top:585px;bottom:0;right:0;left:540px;background-color:white;border:1px solid #000;
	
}
.cola15 {
	padding:0px;font-style:arial;font-size:28px;display:flex;flex-direction:column;justify-content:center;alig-items:flex-start;
	text-align:center;width:165px;height:52px;margin:5px 0px;
	position:absolute;top:585px;bottom:0;right:0;left:708px;background-color:white;border:1px solid #000;
	
}
.cola16 {
	padding:0px;font-style:oblique;font-size:28px;display:flex;flex-direction:column;justify-content:center;alig-items:flex-start;
	text-align:center;width:167px;height:52px;margin:5px 0px;
	position:absolute;top:640px;bottom:0;right:0;left:28px;background-color:white;border:1px solid #000;
	
}
.cola17 {
	padding:0px;font-style:oblique;font-size:28px;display:flex;flex-direction:column;justify-content:center;alig-items:flex-start;
	text-align:center;width:171px;height:52px;margin:5px 0px;
	position:absolute;top:640px;bottom:0;right:0;left:198px;background-color:white;border:1px solid #000;
	
}
.cola18 {
	padding:0px;font-style:arial;font-size:28px;display:flex;flex-direction:column;justify-content:center;alig-items:flex-start;
	text-align:center;width:165px;height:52px;margin:5px 0px;
	position:absolute;top:640px;bottom:0;right:0;left:372px;background-color:white;border:1px solid #000;
	
}
.cola19 {
	padding:0px;font-style:arial;font-size:28px;display:flex;flex-direction:column;justify-content:center;alig-items:flex-start;
	text-align:center;width:165px;height:52px;margin:5px 0px;
	position:absolute;top:640px;bottom:0;right:0;left:540px;background-color:white;border:1px solid #000;
	
}
.cola20 {
	padding:0px;font-style:arial;font-size:28px;display:flex;flex-direction:column;justify-content:center;alig-items:flex-start;
	text-align:center;width:165px;height:52px;margin:5px 0px;
	position:absolute;top:640px;bottom:0;right:0;left:708px;background-color:white;border:1px solid #000;
	
}
.cola21 {
	padding:0px;font-style:oblique;font-size:28px;display:flex;flex-direction:column;justify-content:center;alig-items:flex-start;
	text-align:center;width:167px;height:52px;margin:5px 0px;
	position:absolute;top:695px;bottom:0;right:0;left:28px;background-color:white;border:1px solid #000;
	
}
.cola22 {
	padding:0px;font-style:oblique;font-size:28px;display:flex;flex-direction:column;justify-content:center;alig-items:flex-start;
	text-align:center;width:171px;height:52px;margin:5px 0px;
	position:absolute;top:695px;bottom:0;right:0;left:198px;background-color:white;border:1px solid #000;
	
}
.cola23 {
	padding:0px;font-style:arial;font-size:28px;display:flex;flex-direction:column;justify-content:center;alig-items:flex-start;
	text-align:center;width:165px;height:52px;margin:5px 0px;
	position:absolute;top:695px;bottom:0;right:0;left:372px;background-color:white;border:1px solid #000;
	
}
.cola24 {
	padding:0px;font-style:arial;font-size:28px;display:flex;flex-direction:column;justify-content:center;alig-items:flex-start;
	text-align:center;width:165px;height:52px;margin:5px 0px;
	position:absolute;top:695px;bottom:0;right:0;left:540px;background-color:white;border:1px solid #000;
	
}
.cola25 {
	padding:0px;font-style:arial;font-size:28px;display:flex;flex-direction:column;justify-content:center;alig-items:flex-start;
	text-align:center;width:165px;height:52px;margin:5px 0px;
	position:absolute;top:695px;bottom:0;right:0;left:708px;background-color:white;border:1px solid #000;
	
}
.cola26 {
	padding:0px;font-style:oblique;font-size:28px;display:flex;flex-direction:column;justify-content:center;alig-items:flex-start;
	text-align:center;width:167px;height:52px;margin:5px 0px;
	position:absolute;top:750px;bottom:0;right:0;left:28px;background-color:white;border:1px solid #000;
	
}
.cola27 {
	padding:0px;font-style:oblique;font-size:28px;display:flex;flex-direction:column;justify-content:center;alig-items:flex-start;
	text-align:center;width:171px;height:52px;margin:5px 0px;
	position:absolute;top:750px;bottom:0;right:0;left:198px;background-color:white;border:1px solid #000;
	
}
.cola28 {
	padding:0px;font-style:arial;font-size:28px;display:flex;flex-direction:column;justify-content:center;alig-items:flex-start;
	text-align:center;width:165px;height:52px;margin:5px 0px;
	position:absolute;top:750px;bottom:0;right:0;left:372px;background-color:white;border:1px solid #000;
	
}
.cola29 {
	padding:0px;font-style:arial;font-size:28px;display:flex;flex-direction:column;justify-content:center;alig-items:flex-start;
	text-align:center;width:165px;height:52px;margin:5px 0px;
	position:absolute;top:750px;bottom:0;right:0;left:540px;background-color:white;border:1px solid #000;
	
}
.cola30 {
	padding:0px;font-style:arial;font-size:28px;display:flex;flex-direction:column;justify-content:center;alig-items:flex-start;
	text-align:center;width:165px;height:52px;margin:5px 0px;
	position:absolute;top:750px;bottom:0;right:0;left:708px;background-color:white;border:1px solid #000;
	
}
.cola31 {
	padding:0px;font-style:oblique;font-size:28px;display:flex;flex-direction:column;justify-content:center;alig-items:flex-start;
	text-align:center;width:167px;height:52px;margin:5px 0px;
	position:absolute;top:805px;bottom:0;right:0;left:28px;background-color:white;border:1px solid #000;
	
}
.cola32 {
	padding:0px;font-style:oblique;font-size:28px;display:flex;flex-direction:column;justify-content:center;alig-items:flex-start;
	text-align:center;width:171px;height:52px;margin:5px 0px;
	position:absolute;top:805px;bottom:0;right:0;left:198px;background-color:white;border:1px solid #000;
	
}
.cola33 {
	padding:0px;font-style:arial;font-size:28px;display:flex;flex-direction:column;justify-content:center;alig-items:flex-start;
	text-align:center;width:165px;height:52px;margin:5px 0px;
	position:absolute;top:805px;bottom:0;right:0;left:372px;background-color:white;border:1px solid #000;
	
}
.cola34 {
	padding:0px;font-style:arial;font-size:28px;display:flex;flex-direction:column;justify-content:center;alig-items:flex-start;
	text-align:center;width:165px;height:52px;margin:5px 0px;
	position:absolute;top:805px;bottom:0;right:0;left:540px;background-color:white;border:1px solid #000;
	
}
.cola35 {
	padding:0px;font-style:arial;font-size:28px;display:flex;flex-direction:column;justify-content:center;alig-items:flex-start;
	text-align:center;width:165px;height:52px;margin:5px 0px;
	position:absolute;top:805px;bottom:0;right:0;left:708px;background-color:white;border:1px solid #000;
	
}
