body {
	
}

table {

 border-collapse: collapse;
}

td{
	padding:5px;font-style:oblique;font-size:28px;width:140px;
}



h3{
	color:red;font-size:36px;margin:40px;
}
.green{
	background-color:yellow;
}

.black{
	background-color:black;
}

div {
	padding:1px;font-style:oblique;font-size:28px;width:110px;margin:20px;
	display:inline-block;background-color:pink;border:4px solid#000;
	
}
